<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Datos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row> 
    <ion-col>
 	 		<ion-list-header>Variable
 	 		</ion-list-header>
      <ion-item *ngFor="let note of icons">
         <ion-icon [name]=note.icon></ion-icon> {{note.Name}}
      </ion-item>
    </ion-col>
    <ion-col>
 	 		<ion-list-header>Valor
 	 		</ion-list-header>
  			<ion-item *ngFor="let note of notes | async">
    			{{note}}
  			</ion-item>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>